/* ******* Global *******/

html{
    font-size: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    
}

*, *::after, *::before{
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 100%;
    max-height: 100vh;
    color: rgb(41, 41, 41);
    font-size: 0.75rem;
    overflow-x: visible;
}

a{
    text-decoration: none;
    color: rgb(41, 41, 41);
    font-size: 0.75rem;
}
a:hover{
    text-decoration: underline;
}

svg{
    height: 30px;
    width: 30px;
    color: #5f6368;
    fill: currentColor;
}

svg:hover{
    background: hsl(0, 0%, 93%);
    outline:4px solid hsl(0, 0%, 93%);
    border-radius: 30px;
}

i{
    color: #9aa0a6;
}

input{
    border: none;
    padding: 0 0.75rem;
    margin-left: 20px;
    font-size:  0.75rem;
    max-width: 80%;
    height: 36px;
}

input:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
}

form{
    margin: 1.5rem 0;
    /* max-width: 100%; */
}

/****** Styling *********/
header{
    margin-top: 1rem;
}

nav{
    margin-right : 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav :not(:last-child) {
    margin-right: 20px;
}

nav a img{
    width: 24px;
    height: 24px;
}


.menu{
    color: grey;
}


.account-option-image{
    width: 35px;
    height: 35px;
    border-radius: 20px;
}

.account-option-image:hover{
    outline:5px solid hsl(0, 0%, 93%);
    border-radius: 30px;
    text-align: center;
}

main{
    
    margin: 5rem 0;
    display: grid;
    place-items: center;
}



.search{
    
    width:80vw ;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dfdfdf;
    border-radius: 30px;

}

.search:hover{
    box-shadow: 0 0 4px#d4d5d8;
    border: none;

}


.search>img{
    width: 24px;
    height: 24px;
}

.button{
    width: 50vw;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.language{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.language a{
    color: #1a0dab ;
}
